
<div class="admin-dashboard-container">
 
  <div class="admin-content">
   
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

  
  <footer class="admin-footer">
    <div class="footer-content">
      <div class="footer-info">
        <span class="footer-text">© 2025  MedNest Hospital Management System</span>
        <mat-divider vertical></mat-divider>
       
      </div>

      <div class="footer-links">
        <button mat-button class="footer-link">Privacy Policy</button>
        <button mat-button class="footer-link">Terms of Service</button>
        <button mat-button class="footer-link">Support</button>
      </div>
    </div>
  </footer>
</div>